<h2 class="title title-comment is-4"><i class="icon ion-ios-chatbubbles"></i>コメント (<%= @photo.comments.count %>)</h2>

<% @photo.comments.each do |comment| %>
  <article class="media">
      <div class="media-content">
        <div class="content">
            <p>
              <strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
              <%= simple_format comment.comment %>
              <% if comment.user.id == current_user.id %>
                <%= link_to "削除", photo_comments_path(@photo), method: :delete %>
              <% end %>
            </p>
        </div>
      </div>
  </article>
<% end %>

<article class="media">
  <div class="media-content">
    <%= form_with model: [@photo, @comment] do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="field">
        <p class="control">
          <%= f.text_field :comment, class: "input", placeholder: "コメントを追加..." %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <%= f.submit 'コメント', class: "button is-success" %>
          </div>
        </div>
      </nav>
    <% end %>
  </div>
</article>