<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        【採用担当者様　専用ログインフォーム】
      </h1>
      <h4>
        下記の「専用ログイン」ボタンを押していただければ、<br>すぐに専用アカウントでログインが可能です。
      </h4>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        
          <div class="field">
            <%= f.label :email, "メールアドレス", class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: 'recruit@example.com', :placeholder => "email", class: "input" %>
          </div>        

          <div class="field">
            <%= f.label :password, 'パスワード', class: "label" %>
            <%= f.password_field :password, autocomplete: "new-password", value: 'password', :placeholder => "password", class: "input" %>
          </div>
          
          <div>
            <%= f.label :password_confirmation, '確認用', class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", value: 'password', :placeholder => "password confirmation", class: "input" %>
          </div>
          
          <%= f.submit '専用ログイン', class: "button is-success mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <p>＜採用担当者様　専用アカウント＞</p>
    <p>メールアドレス：recruit@example.com</p>
    <p>パスワード：password</p>
    <p>※フォームに予め入力済</p>
  </div>
</section>