<nav class="navbar is-primary">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
     <h1 class="title is-4" style="font-family: cursive;">Casual-Photo</h1>
    <% end %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>

  <% if logged_in? %>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-item">
        <%= link_to '新規投稿', new_photo_path, class: "button is-primary is-light" %>
      </div>
      
      <div class="navbar-item">
        <%= link_to 'フォト一覧', photos_path, class: "button is-primary is-light" %>
      </div>
      
      <div class="navbar-item">
        <%= link_to 'フォトグラファー一覧', users_path, class: "button is-primary is-light" %>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'マイページ', user_path(current_user), class: "button is-primary is-light" %></li>
            </p>
            <p class="control">
              <%= link_to 'ログアウト', logout_path, method: :delete, class: "button is-primary is-light" %></li>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-item">
        <%= link_to 'フォト一覧', photos_path, class: "button is-primary is-light" %></li>
      </div>
      
      <div class="navbar-item">
        <%= link_to 'フォトグラファー一覧', users_path, class: "button is-primary is-light" %></li>
      </div>
      
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to '新規登録', signup_path, class: "button is-primary is-light" %>
            </p>
            <p class="control">
              <%= link_to 'ログイン', login_path, class: "button is-primary is-light" %>
            </p>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</nav>  