<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" id="subtitle">
        Photos
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @photos.each do |photo| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to photo_path(photo) do %>
                  <% if photo.image.attached? %>
                    <%= image_tag photo.image %>
                  <% else %>
                    <%= image_tag 'no-image.png' %>
                  <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(photo.user) do %>
                      <% if photo.user.image.attached? %>
                        <%= image_tag photo.user.image %>
                      <% else %>
                        <%= image_tag 'no-image.png' %>
                      <% end %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to photo.user.name, user_path(photo.user) %></div>
                </div>
              </div>
              <div id="index_favorite_<%= photo.id %>">
                <%= render 'favorites/favorite', photo: photo %>
              </div>
              <div class="content">
                <time><%= photo.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
