<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" id="subtitle">
        New Photo
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with(model: @photo, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="field">
            <%= f.label :title, 'タイトル', class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>
          
          <div class="field">
            <%= f.label :body, '内容', class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>
          
          <div class="field">
            <%= f.label :image, '写真', class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :status, '公開範囲', class: "label" %>
            <%= f.select :status, options_for_select(Photo.statuses.map { |k, _v| [t("activerecord.attributes.photo.statuses.#{k}"), k] }), {}, { class:'select is-fullwidth' } %>
          </div>
          
          <%= f.submit '投稿', class: "button is-success mt-6 is-fullwidth" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
