<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        フォト詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="columns is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <%= attachment_image_tag @photo, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @photo.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>内容</th>
                </tr>
                <tr>
                  <tb><%= simple_format @photo.body %></tb>
                </tr>
              </table>
              <% if current_user.already_favorited?(@photo) %>
                <%= link_to photo_favorites_path(@photo), method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to photo_favorites_path(@photo), method: :post do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
              <%= @photo.favorites.count %>
              <div class="content">
              <% if @photo.user.id == current_user.id %>
                <%= link_to '編集画面へ', edit_photo_path(@photo), class: "button is-success" %>
                <%= link_to "削除", photo_path, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'button is-danger' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4 ml-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @photo.user.name %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @photo.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@photo.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @photo.user.name %>さんのページへ
          <% end %>
        </article>

        <%= render "comments/comment" %>
        
      </div>
    </div>
  </div>
</section>